<link href="module/admin/module/homepage/view/css/homepage.css" rel="stylesheet" type="text/css"/>
<script src="module/admin/module/homepage/view/js/homepage.js"></script>
<!-- WEB TITLE -->
<div class="title">
    <h1 data-tr="Homepage"></h1>
</div>

<!-- HIDDEN CONTAINERS -->
<div class="hidden_container">
    <div id="slider_id_container" class="hidden_container_page">
        <div class="hidden_container_add">

        </div>
        <div class="hidden_container_content">
            <div class="title">
                <h1 data-tr="Slider"></h1>

                <!-- CREATE BUTTON -->
                <a>
                    <div class="products_title_button products_add_button">
                    <i class="fas fa-plus-circle"></i>
                    <p data-tr="Add slider"></p>
                    </div>
                </a>
            </div>
            <div class="info">
                <strong data-tr="Backgrounds created:"></strong><p id="slider_total"></p>
            </div>
            <div class="hidden_container_sliders">

            </div>
        </div>
        <div class="hidden_container_buttons">
            <div class="button close">Cerrar</div>
        </div>
    </div>
</div>

<!-- MODULES -->
<div class="modules">
    <div id="slider_id_module" class="module">
        <i class="fas fa-image"></i>
        <p>Slider</p>
    </div>
</div>