<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Neteco | Productos de hostelería</title>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<!-- javascript -->
<script src="module/client/view/js/admin.js"></script>

<!-- css -->
<link href="module/client/view/css/admin.css" rel="stylesheet" type="text/css"/>
<link href="module/client/view/css/iconos/css/all.css" rel="stylesheet">


<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet"/>