<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Usuario error | Productos de hostelería</title>
<script src="module/login/view/js/login.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<link href="module/login/view/css/login.css" rel="stylesheet" type="text/css"/>

<div style="width: 100% !important;" class="page">
    <div class="transparencia">
        <div style="display:flex !important;" class="box_check">
            <h1>Se ha cerrado tu sesión por seguridad, pulsa para identificarte</h1>
            <div>
                <div id="login" class="add_button login">Iniciar sesión</div>
                <div id="home" class="add_button home">Volver a la pagina principal</div>
            </div>
        </div>
    </div>
</div>