<div class="page">
    <p class="route"><strong>Home</strong> / Products</p>
    <h1 class="title"></h1>
    
    <div class="content">
        <div class="filter">
            <h3>CATÁLOGO</h3>
        </div>
        
        <div class="products_container">
            <div class="info">
                <p class="text"></p>
                <strong></strong>
            </div>
            <div class="products">   
                
            </div>
            <div class="pagination_css">
                <div class="pages"></div>
            </div>  
        </div>
    </div>
</div>

<div class="page_details">
    <div class="title">
        <p class="route"><strong>Home</strong> / Products</p>
    </div>
    <div class="details">
        <div class="imagen"></div>
        <div class="text_details">
            <h2></h2>
            <hr>
            <div class="information">
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>(23)
                </div>
                <div>
                    <strong>Referencia:</strong><p class="reference"></p>
                </div>
                <div>
                    <strong>Unidades:</strong><p class="cantidad">5 pcs/caja</p>
                </div>
            </div>
            <div class="price_box">
                <h3 class="price">34,40€</h3>
                <h3>/caja</h3>
            </div>

            <div class="description">
                <p>Para ampliar su oferta destinada al sector de la hostelería EUROSANEX pone a su disposición sus manteles de celulosa cortados, ideales para restaurantes, bares, cafeterías, catering, etc.</p>

                <p>Pueden encontrar así manteles de celulosa cortados blancos o de colores, y con medidas de entre 30 x 40 centímetros hasta 1,20 x 1,20 metros.
                <ul>
                    <li>Manteles de CELULOSA BLANCA. Cortados de 30 x 40 centímetros. En cajas de 1.000 unidades con inscripción.</li>
                    <li>Manteles de CELULOSA BLANCA. Cortados de 100x100 centímetros, 37 gramos de peso, gofrado especial. En caja de 380 o de 480 unidades.</li>
                    <li>Manteles de CELULOSA BLANCA. Cortados de 100x100 centímetros, 40 gramos de peso, extra gofrado especial. En caja de 400 unidades.</li>
                    <li>Manteles de CELULOSA BLANCA. Cortados de 100x100 centímetros, 50 gramos de peso, pasta 100%, gofrado especial. En caja de 400 unidades.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="suggestions">
        <h2>ALGUNOS PRODUCTOS DE LA MISMA <strong>CATEGORIA</strong></h2>
        <div class="subcategorias">
        </div>
    </div>
</div>