<link href="module/admin/module/categories/view/css/categories.css" rel="stylesheet" type="text/css"/>
<script src="module/admin/module/categories/view/js/categories.js"></script>
<div class="title">
    <h1 data-tr="Categories"></h1>
    <div class="products_title_buttons">
        <!-- CREATE BUTTON -->
        <a id="add_category">
            <div class="products_title_button products_add_button">
                <i class="fas fa-plus-circle"></i>
                <p data-tr="Add category"></p>
            </div>
        </a>

        <!-- DELETE ALL BUTTON -->
        <div id="products_delete_all_button" class="products_title_button products_delete_all_button">
            <i class="fas fa-times"></i>
            <p data-tr="Delete all"></p>
        </div>
    </div>
</div>

<table id="table_id" class="list_products">
    <thead>
      <tr class="products_first">
        <th class="id" data-tr="Id"></th>
        <th data-tr="Name"></th>
        <th class="settings" data-tr="Settings"></td>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
